USE [master]
GO
/****** Object:  Database [gestao_eventos]    Script Date: 18/06/2025 16:10:12 ******/
CREATE DATABASE [gestao_eventos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gestao_eventos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\gestao_eventos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gestao_eventos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\gestao_eventos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gestao_eventos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gestao_eventos]
GO
/****** Object:  User [pbl_user]    Script Date: 18/06/2025 16:10:13 ******/
CREATE USER [pbl_user] FOR LOGIN [pbl_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [pbl_user]
GO
/****** Object:  Table [dbo].[Avaliacao]    Script Date: 18/06/2025 16:10:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avaliacao](
	[ID_Avaliacao] [int] IDENTITY(1,1) NOT NULL,
	[ID_Utilizador] [int] NULL,
	[ID_Evento] [int] NULL,
	[Pontuacao] [int] NULL,
	[DataAvaliacao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Avaliacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bilhete]    Script Date: 18/06/2025 16:10:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bilhete](
	[ID_Bilhete] [int] IDENTITY(1,1) NOT NULL,
	[QRCode] [varbinary](max) NOT NULL,
	[DataEmissao] [datetime] NULL,
	[Validado] [bit] NULL,
	[ID_Inscricao] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Bilhete] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 18/06/2025 16:10:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[ID_Categoria] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comentario]    Script Date: 18/06/2025 16:10:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comentario](
	[ID_Comentario] [int] IDENTITY(1,1) NOT NULL,
	[ID_Utilizador] [int] NULL,
	[ID_Evento] [int] NULL,
	[Texto] [nvarchar](max) NULL,
	[DataComentario] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Comentario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evento]    Script Date: 18/06/2025 16:10:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento](
	[ID_Evento] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Data] [datetime] NOT NULL,
	[DataFim] [datetime] NULL,
	[Local] [nvarchar](100) NULL,
	[TipoEvento] [bit] NOT NULL,
	[Descricao] [nvarchar](max) NULL,
	[LimiteParticipantes] [int] NULL,
	[AvaliacaoMedia] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evento_Categoria]    Script Date: 18/06/2025 16:10:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento_Categoria](
	[ID_Evento] [int] NOT NULL,
	[ID_Categoria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Evento] ASC,
	[ID_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evento_Orador]    Script Date: 18/06/2025 16:10:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento_Orador](
	[ID_Evento] [int] NOT NULL,
	[ID_Orador] [int] NOT NULL,
	[TituloPalestra] [nvarchar](200) NULL,
	[Horario] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Evento] ASC,
	[ID_Orador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evento_Recurso]    Script Date: 18/06/2025 16:10:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento_Recurso](
	[ID_Evento] [int] NOT NULL,
	[ID_Recurso] [int] NOT NULL,
	[QuantidadeUsada] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Evento] ASC,
	[ID_Recurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evento_Sala]    Script Date: 18/06/2025 16:10:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento_Sala](
	[ID_Evento] [int] NOT NULL,
	[ID_Sala] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Evento] ASC,
	[ID_Sala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 18/06/2025 16:10:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[ID_Feedback] [int] IDENTITY(1,1) NOT NULL,
	[ID_Utilizador] [int] NULL,
	[ID_Evento] [int] NULL,
	[ID_Comentario] [int] NULL,
	[Respostas] [nvarchar](max) NULL,
	[DataResposta] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Feedback] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inscricao]    Script Date: 18/06/2025 16:10:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscricao](
	[ID_Inscricao] [int] IDENTITY(1,1) NOT NULL,
	[ID_Utilizador] [int] NULL,
	[ID_Evento] [int] NULL,
	[DataInscricao] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Inscricao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificacao]    Script Date: 18/06/2025 16:10:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificacao](
	[ID_Notificacao] [int] IDENTITY(1,1) NOT NULL,
	[ID_Utilizador] [int] NULL,
	[Tipo] [nvarchar](10) NULL,
	[Mensagem] [nvarchar](max) NULL,
	[DataEnvio] [datetime] NULL,
	[ID_Evento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Notificacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orador]    Script Date: 18/06/2025 16:10:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orador](
	[ID_Orador] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Bio] [nvarchar](max) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Orador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preferencia_Categoria]    Script Date: 18/06/2025 16:10:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preferencia_Categoria](
	[ID_Utilizador] [int] NOT NULL,
	[ID_Categoria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Utilizador] ASC,
	[ID_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recurso]    Script Date: 18/06/2025 16:10:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recurso](
	[ID_Recurso] [int] IDENTITY(1,1) NOT NULL,
	[NomeRecurso] [nvarchar](100) NULL,
	[Tipo] [nvarchar](50) NULL,
	[QuantidadeDisponivel] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Recurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sala]    Script Date: 18/06/2025 16:10:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sala](
	[ID_Sala] [int] IDENTITY(1,1) NOT NULL,
	[NomeSala] [nvarchar](100) NULL,
	[Capacidade] [int] NULL,
	[Localizacao] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Sala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilizador]    Script Date: 18/06/2025 16:10:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilizador](
	[ID_Utilizador] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Telefone] [nvarchar](20) NULL,
	[TipoUtilizador] [bit] NOT NULL,
	[PalavraPasse] [nvarchar](255) NOT NULL,
	[ImagemPerfil] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Utilizador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [UQ__Avaliaca__0B2F251A696094E4]    Script Date: 18/06/2025 16:10:13 ******/
ALTER TABLE [dbo].[Avaliacao] ADD UNIQUE NONCLUSTERED 
(
	[ID_Utilizador] ASC,
	[ID_Evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Bilhete__887876D641842CBD]    Script Date: 18/06/2025 16:10:13 ******/
ALTER TABLE [dbo].[Bilhete] ADD UNIQUE NONCLUSTERED 
(
	[ID_Inscricao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Inscrica__0B2F251A9BB4591A]    Script Date: 18/06/2025 16:10:13 ******/
ALTER TABLE [dbo].[Inscricao] ADD UNIQUE NONCLUSTERED 
(
	[ID_Utilizador] ASC,
	[ID_Evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Utilizad__A9D10534804F9367]    Script Date: 18/06/2025 16:10:13 ******/
ALTER TABLE [dbo].[Utilizador] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Avaliacao] ADD  DEFAULT (getdate()) FOR [DataAvaliacao]
GO
ALTER TABLE [dbo].[Bilhete] ADD  DEFAULT (getdate()) FOR [DataEmissao]
GO
ALTER TABLE [dbo].[Bilhete] ADD  DEFAULT ((0)) FOR [Validado]
GO
ALTER TABLE [dbo].[Comentario] ADD  DEFAULT (getdate()) FOR [DataComentario]
GO
ALTER TABLE [dbo].[Evento] ADD  DEFAULT ((0)) FOR [AvaliacaoMedia]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (getdate()) FOR [DataResposta]
GO
ALTER TABLE [dbo].[Inscricao] ADD  DEFAULT (getdate()) FOR [DataInscricao]
GO
ALTER TABLE [dbo].[Inscricao] ADD  DEFAULT ('Confirmada') FOR [Status]
GO
ALTER TABLE [dbo].[Notificacao] ADD  DEFAULT (getdate()) FOR [DataEnvio]
GO
ALTER TABLE [dbo].[Avaliacao]  WITH CHECK ADD FOREIGN KEY([ID_Evento])
REFERENCES [dbo].[Evento] ([ID_Evento])
GO
ALTER TABLE [dbo].[Avaliacao]  WITH CHECK ADD FOREIGN KEY([ID_Utilizador])
REFERENCES [dbo].[Utilizador] ([ID_Utilizador])
GO
ALTER TABLE [dbo].[Bilhete]  WITH CHECK ADD FOREIGN KEY([ID_Inscricao])
REFERENCES [dbo].[Inscricao] ([ID_Inscricao])
GO
ALTER TABLE [dbo].[Comentario]  WITH CHECK ADD FOREIGN KEY([ID_Evento])
REFERENCES [dbo].[Evento] ([ID_Evento])
GO
ALTER TABLE [dbo].[Comentario]  WITH CHECK ADD FOREIGN KEY([ID_Utilizador])
REFERENCES [dbo].[Utilizador] ([ID_Utilizador])
GO
ALTER TABLE [dbo].[Evento_Categoria]  WITH CHECK ADD FOREIGN KEY([ID_Categoria])
REFERENCES [dbo].[Categoria] ([ID_Categoria])
GO
ALTER TABLE [dbo].[Evento_Categoria]  WITH CHECK ADD FOREIGN KEY([ID_Evento])
REFERENCES [dbo].[Evento] ([ID_Evento])
GO
ALTER TABLE [dbo].[Evento_Orador]  WITH CHECK ADD FOREIGN KEY([ID_Evento])
REFERENCES [dbo].[Evento] ([ID_Evento])
GO
ALTER TABLE [dbo].[Evento_Orador]  WITH CHECK ADD FOREIGN KEY([ID_Orador])
REFERENCES [dbo].[Orador] ([ID_Orador])
GO
ALTER TABLE [dbo].[Evento_Recurso]  WITH CHECK ADD FOREIGN KEY([ID_Evento])
REFERENCES [dbo].[Evento] ([ID_Evento])
GO
ALTER TABLE [dbo].[Evento_Recurso]  WITH CHECK ADD FOREIGN KEY([ID_Recurso])
REFERENCES [dbo].[Recurso] ([ID_Recurso])
GO
ALTER TABLE [dbo].[Evento_Sala]  WITH CHECK ADD FOREIGN KEY([ID_Evento])
REFERENCES [dbo].[Evento] ([ID_Evento])
GO
ALTER TABLE [dbo].[Evento_Sala]  WITH CHECK ADD FOREIGN KEY([ID_Sala])
REFERENCES [dbo].[Sala] ([ID_Sala])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([ID_Comentario])
REFERENCES [dbo].[Comentario] ([ID_Comentario])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([ID_Evento])
REFERENCES [dbo].[Evento] ([ID_Evento])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([ID_Utilizador])
REFERENCES [dbo].[Utilizador] ([ID_Utilizador])
GO
ALTER TABLE [dbo].[Inscricao]  WITH CHECK ADD FOREIGN KEY([ID_Evento])
REFERENCES [dbo].[Evento] ([ID_Evento])
GO
ALTER TABLE [dbo].[Inscricao]  WITH CHECK ADD FOREIGN KEY([ID_Utilizador])
REFERENCES [dbo].[Utilizador] ([ID_Utilizador])
GO
ALTER TABLE [dbo].[Notificacao]  WITH CHECK ADD FOREIGN KEY([ID_Evento])
REFERENCES [dbo].[Evento] ([ID_Evento])
GO
ALTER TABLE [dbo].[Notificacao]  WITH CHECK ADD FOREIGN KEY([ID_Utilizador])
REFERENCES [dbo].[Utilizador] ([ID_Utilizador])
GO
ALTER TABLE [dbo].[Preferencia_Categoria]  WITH CHECK ADD FOREIGN KEY([ID_Categoria])
REFERENCES [dbo].[Categoria] ([ID_Categoria])
GO
ALTER TABLE [dbo].[Preferencia_Categoria]  WITH CHECK ADD FOREIGN KEY([ID_Utilizador])
REFERENCES [dbo].[Utilizador] ([ID_Utilizador])
GO
ALTER TABLE [dbo].[Avaliacao]  WITH CHECK ADD CHECK  (([Pontuacao]>=(1) AND [Pontuacao]<=(5)))
GO
ALTER TABLE [dbo].[Inscricao]  WITH CHECK ADD CHECK  (([Status]='Lista de Espera' OR [Status]='Cancelada' OR [Status]='Confirmada'))
GO
ALTER TABLE [dbo].[Notificacao]  WITH CHECK ADD CHECK  (([Tipo]='SMS' OR [Tipo]='Email'))
GO
USE [master]
GO
